
.icon-spin6:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-user-times:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-lock:before { content: '\e805'; } /* '' */
.icon-lock-open:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-block:before { content: '\e808'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-left-big:before { content: '\e80e'; } /* '' */
.icon-target:before { content: '\e80f'; } /* '' */
.icon-award:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-check-empty:before { content: '\e812'; } /* '' */
.icon-sort-alt-down:before { content: '\e813'; } /* '' */
.icon-twitch:before { content: '\e814'; } /* '' */
.icon-twitter:before { content: '\e815'; } /* '' */
.icon-arrow-combo:before { content: '\e816'; } /* '' */
.icon-arrows-ccw:before { content: '\e817'; } /* '' */
.icon-shuffle:before { content: '\e818'; } /* '' */
.icon-trophy:before { content: '\e819'; } /* '' */
.icon-search-1:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-cancel-circle:before { content: '\e81c'; } /* '' */
.icon-edit:before { content: '\e81d'; } /* '' */
.icon-trash:before { content: '\e81e'; } /* '' */
.icon-facebook-rect:before { content: '\e81f'; } /* '' */
.icon-desktop:before { content: '\e820'; } /* '' */
.icon-eye:before { content: '\e821'; } /* '' */
.icon-wallet:before { content: '\e822'; } /* '' */
.icon-videocam:before { content: '\e823'; } /* '' */
.icon-attention-circled:before { content: '\e824'; } /* '' */
.icon-mail:before { content: '\e825'; } /* '' */
.icon-location-outline:before { content: '\e826'; } /* '' */
.icon-hourglass:before { content: '\e827'; } /* '' */
.icon-dot-circled:before { content: '\e828'; } /* '' */
.icon-truck:before { content: '\e829'; } /* '' */
.icon-basket:before { content: '\e82a'; } /* '' */
.icon-flash:before { content: '\e82b'; } /* '' */
.icon-pencil:before { content: '\e82c'; } /* '' */
.icon-trash-1:before { content: '\e82d'; } /* '' */
.icon-plus-outline:before { content: '\e82e'; } /* '' */
.icon-clock:before { content: '\e82f'; } /* '' */
.icon-qrcode:before { content: '\e830'; } /* '' */
.icon-right-dir:before { content: '\e831'; } /* '' */
.icon-plus-circle:before { content: '\e832'; } /* '' */
.icon-minus-circle:before { content: '\e833'; } /* '' */
.icon-gift:before { content: '\e834'; } /* '' */
.icon-login:before { content: '\e835'; } /* '' */
.icon-phone-outline:before { content: '\e836'; } /* '' */
.icon-mail-1:before { content: '\e837'; } /* '' */
.icon-eye-outline:before { content: '\e838'; } /* '' */
.icon-right-big:before { content: '\e839'; } /* '' */
.icon-up-big:before { content: '\e83a'; } /* '' */
.icon-down-big:before { content: '\e83b'; } /* '' */
.icon-globe:before { content: '\e83c'; } /* '' */
.icon-link:before { content: '\e83d'; } /* '' */
.icon-help-circled-alt:before { content: '\e83e'; } /* '' */
.icon-tools:before { content: '\e83f'; } /* '' */
.icon-mobile-alt:before { content: '\e840'; } /* '' */
.icon-cog:before { content: '\e841'; } /* '' */
.icon-cog-1:before { content: '\e842'; } /* '' */
.icon-cog-2:before { content: '\e843'; } /* '' */
.icon-cog-3:before { content: '\e844'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */