.ql-editor sup {
  vertical-align: super;
}
.ql-editor sub {
  vertical-align: sub;
}

.ql-toolbar {
  background: #ecf0f1;
}

.ql-editor {
  min-height: 200px;
}

.ql-container {
  font-size: 16px !important;
}

.image-picker > img {
  background-size: cover;
  max-height: 64px;
  height: auto;
  width: auto;
  padding: 2px;
  border: solid 1px #ccc;
}

.uploadcare--widget__text {
  margin-left: 10px !important;
}
.flexboxerino {
  display: flex;
}
matcherinoUserPicker .user-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.user-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.user-link-icon {
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

.user-link a .user-link-name {
  color: #000;
  margin-left: 10px;
}

.user-link .user-verification {
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
  color: #2da0e7;
  position: Relative;
}

.user-link .user-verification .icon-ok {
  position: absolute;
  top: 9px;
  font-size: 8px;
  left: 8px;
  color: #fff;
}

.card {
  border-collapse: collapse !important;
}

.card-img-top {
  height: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* .card-body {
  height: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
} */

.card-text {
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#b,
#c {
  display: none;
}

#c {
  padding: 5px;
}

#c > .progress {
  margin-top: 50%;
}
.card:hover div#b {
  background-color: black;
  display: inline;
  position: absolute;
  z-index: 2;
  height: 250px;
  width: 100%;
  opacity: 0.8;
}

.card:hover div#c {
  display: inline;
  position: absolute;
  z-index: 99;
  height: 250px;
  width: 100%;
  color: white;
  opacity: 0.85;
}
